html, body, input, select {
  font-size: 0.9em;
  font-family: Tahoma, Helvetica;
}

#content {
  min-height:400px;
  height:auto!important;
  height:400px;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, "Bitstream Vera Serif", "New York", Palatino, serif;
}

h1 {
  font-size: 120%;
  border-bottom: 1px solid grey;
}

h1.title {
  color: #234764;
  text-decoration: none;
  margin:3px;
  border-bottom: none;
}

h1 img {
  vertical-align: middle;/*was -8px;*/
  margin-right: 5px;
}

h1 a {
  margin-right: 100px;
}

h2 {
  font-size: 110%;
  margin-bottom:2px;
  border-bottom: 1px solid grey;
}

h3 {
  font-size: 100%;
  margin-bottom:2px;
}

th {
  text-align: left;
  background-color: LightGrey;
}

tr.odd {
  background-color: ghostwhite;
}

div.bar {
  text-align: right;
  background-color: LightGrey;
  padding-right: 5px;
}

.pagination-centered {
  text-align: center;
}

.error {
  color: red;
}

.hide {
  display: none;
}

input[type=text].slim {
  width: 200px;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly] {
  background-color: #FFF8C6;
/*  border: #3532ff 1px solid; */
  color: #000000;
  cursor: default;
}

#page-menu ul, ul#page-menu{
  list-style: none;
}

#page-menu{
  text-align: left;
  position: relative; /* (!) */
  z-index: 3;
  margin: 0 auto;
}

#page-menu li.list{
  float: left; /* (!) */
  display: block; /* (!) */
  margin: 0;
}

#page-menu a{
  color: black;
  text-decoration: none;
}

#page-menu ul.child{
  background: LightGrey;
  padding: 5px;
  position: absolute; /* (!) */
  top: 1.2em;
  left: -9999px; /* (!) */
  z-index: 3;
  border-top: 1px solid #3A2E2B;
  -moz-box-shadow: 0px 3px 7px #251d1b;
  -webkit-box-shadow: 0px 3px 7px #251d1b;
  box-shadow: 0px 3px 7px #251d1b;
}

#page-menu li:hover ul.child{
  left: auto; /* (!) */
}

#page-menu li a.link{
  display: block;
  padding: 0 5px;
}

#page-menu li:hover a.link,
#page-menu:hover li.active:hover a.link,
#page-menu li.active a.link,
#page-menu li:hover li:hover,
#page-menu li:hover li:hover a {
  background: Grey;
  color: White;
}

#page-menu:hover li.active a.link {
  background: LightGrey;
  color: Black;
}

/* verify point */

/*
table.inc {
  width: 100%;
  margin-left:0%;
}


input.label {
  margin-left: 200px;
}

label {
  display:inline-block;
  width: 150px;
  margin-left:50px;
  font-weight: bold;
}

table.form th {
  width: 200px;
}

*/
