[% META
  description = 'Завершение поля формы для страницы с группой форм'
%]    </div>
  </div>
  [% FOREACH f = field %]
	[% IF form ; form_field_error(form = form, field = f); END %]
  [% END %]
</div>
