[% META
  description = 'Pagination'
%]


    <div class="pagination [% class %]">
      [% ul(links = links); %]
      </div>
[% #example
#  pagination(
#   links - сслыки формата виджета ul
#   class - дополнительный css класс
#  );
%]
