[% META
  description = 'прогресс бар'
%]
  <div class="progress[% class ? ' ' _ class :''; %]">
    <div class="bar" style="width:[% progress ? progress : 0; %]%;"></div>
  </div>

[%# example
#  progress(
#    class - класс
#    progress -  прогресс в процентах
#  ); 
%]
