[% META
  description = 'тэг section begin'
%]

<section>
  <div class="page-header"[% id ? ' id="' _ id _ '"' : ''; %]>
    [% h(type = type ? type : 1, text = header, id=''); %]
  </div>

[%
#example
#  section_begin(
#    id - id-шник элемента
#    type - тип заголовка
#    header - заголовок
#  );
%]
