[% META
  description = 'тэг span'
%]

<span[% class ? ' class="' _ class _ '"':''; id ? ' id="' _ id _ '"' : '' ; %]>[% text %]</span>

[%#example
#  span(
#    class - css стиль
#    text - содержимое  
#    id - id-шник элемента
#  );
%]
