[% META
  description = 'Зависимости заголовков head/*'
%][%
IF meta.head.autocomplete;
  meta.head.api = 1;
END;
IF meta.head.tabs;
  meta.head.api = 1;
END;
IF meta.head.api;
  meta.head.jquery = 1;
END;
IF meta.head.timepicker;
  meta.head.datepicker = 1;
  meta.head.slider = 1;
END;
IF meta.head.jquery;
  # в списке скриптов этот - первый
  meta.top_headers.unshift(
    "/js/external/core/jquery-1.7.2.js"
  );
  meta.head.delete('jquery');
END;

%]
