
#accordion {
  margin: 30px 0;
  padding: 0;
  overflow: hidden;
  background: #F5F5F5;
}

#accordion div.d {
  float: left;
  display: block;
  width: 15px;
  padding: 15px 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  line-height: 1.5em;
}

#accordion div p.dd {
  font-weight:bold;
  text-decoration:none;
  font-size:12px;
  width: 1em;
  float: left;
  margin: -15px 0px 0 0;
  height: 950px;
  cursor: pointer;
}

div.cent {
  margin: 0 30px 0 15px;
  padding: 3px;
  width: 98%;
  background-color: white;
  color: black;
/*  height: 800px; */
}

#accordion div.active {
  width: 97%;
}

label {
  font-weight:normal;
  white-space:nowrap;
}

