
#accordion {
  margin: 30px 0;
  padding: 0;
  overflow: hidden;
  background: #F5F5F5;
  min-width: 800px; /* минимальная ширина аккордиона*/
}

#accordion div.acc-panel {
  float: left;
  display: block;
  width: 15px;
  padding: 15px 0;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  line-height: 1.5em;
}

#accordion div p.acc-nav {
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  width: 1em;
  float: left;
  margin: -15px 0px 0 0;
  height: 500px;
  cursor: pointer;
  text-shadow: 0px 1px 1px #000;
  text-transform: uppercase;
}

#accordion div.acc-body {
  margin: 0 30px 0 15px;
  padding: 3px;
  width: 98%;
  min-height: 400px;
  background-color: white;
  color: black;
/*  height: 800px; */
}

#accordion div.acc-body textarea {
 width:100%;
 height: 410px;
}

#accordion p.acc-edit {
  background-color: #87AFC7;
}

#accordion p.acc-view {
  background-color: #C6AEC7;
}

#accordion p.acc-diff {
 background-color: #B5EAAA;
}

#accordion p.acc-src {
 background-color: #9E7BFF;
}

#accordion p.acc-attr {
 background-color: #00FFFF;
}

#accordion div.active {
  width: 92%;
}

label {
  font-weight:normal;
  white-space:nowrap;
}

#p-diff div p{
  margin: 0;
}

#p-diff div p.hunk {
  background-color: #87AFC7;
}
#p-diff div p.add {
  background-color: #B5EAAA;
}
#p-diff div p.del {
  background-color: #C6AEC7;
}

pre#html-src {
  font-size: 8pt;
  line-height: 1.5;
  width: 97%;
  white-space: pre-wrap;
  white-space: -pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
