[%
  IF code ;
    item = uri(code => code, id => id);
  END;
  PROCESS "inc/load_subtree.tt2", item = item, id = id, use_submenus = 1;
  sibl_pages = link;
  IF sibl_pages.childs.size > 0;
  row_begin;
    div_begin(width='high');
      ul(class = 'nav nav-pills', links = sibl_pages.childs);
    div_end;
    row_end;
  END;
%]