[%
  meta.top_headers.push(
    "/js/external/addon/jquery-ui-timepicker-addon.js"
    "/js/external/addon/i18n/jquery-ui-timepicker-ru.js"
    "/css/external/jquery-ui-timepicker-addon.css"
    "/css/$BASE_LAYOUT/jquery-ui.datepicker.pgws.css"
  );
%]
