[% META
  description = 'Редактирование настроек компании'
%][%
  team_id = page.args.0;
  code = page.args.1;

  INCLUDE "inc/page_siblings.tt2", code = 'team.id', id = team_id, active_code = page.code;

  INCLUDE 'block/app_common/prop_edit.tt2', id = team_id, method = 'team.prop_history';
  
%]

