[% META
  description = 'Редактирование настроек системы';
%][%
  uri_arg = page.args.0;
  v = uri_arg.split('\-');

  INCLUDE 'block/app_sample/prop_edit.tt2', code = v.0, pogc = v.1, poid = v.2, method = 'system.prop_history', prop = 'system';
  
%]

