[%
meta.top_headers.push(
  "/js/external/core/jquery.json-2.3.js"
  "/js/$TMPL_LAYOUT/pgws-api.jquery.js"
);
%]<script type="text/javascript">
  //<![CDATA[
  var PWL_post_uri = "[% resp.post_uri %]";
  var PWL_sid = "[% session.sid %]";
  var PWL_lang = "[% session.lang %]";
  //]]>
</script>
