[%
  meta.html_headers.push("/js/$L/jquery.autocomplete.js");
  meta.html_headers.push("/css/$L/autocomplete.css");
%]<!--[if lte IE 7]>
  <style type="text/css">
    .autocomplete-w1 { left:0px; top:8px; }
    pre { padding-bottom:25px; overflow-y:hidden; }
  </style>
<![endif]-->
