<link href="/img/[% TMPL_LAYOUT %]/favicon.ico?19721023"     rel="shortcut icon" />
[%
meta.top_headers.push(
  "/css/$TMPL_LAYOUT/common.css?19721023"
);
IF meta.head.autocomplete;
  meta.head.api = 1;
END;
IF meta.head.api;
  meta.head.jquery = 1;
END;
IF meta.head.timepicker;
  meta.head.datepicker = 1;
  meta.head.slider = 1;
END;
IF meta.head.jquery;
  meta.top_headers.push(
    "/js/external/core/jquery-1.7.2.js"
  );
  meta.head.delete('jquery');
END;
%]
