[% META
# Copyright (c) 2010, 2012 Tender.Pro http://tender.pro.
# This file is part of PGWS - Postgresql WebServices.
  description = 'Страница выбора скина';

  PROCESS "block/$TMPL_LAYOUT/style_set.tt2";
  well_begin;
    p(text = l('Вы можете выбрать внешний вид страниц сайта:'));
    ul(class='nav nav-list set_style',links = styles);
  well_end;
%]
