[% META
  description = 'Глобальные настройки'
%][%
  our_title         = l("PGWS");
  TMPL_LAYOUT       = 'style02';
  TMPL_UI_THEME     = 'external/ui/smoothness';
  BASE_LAYOUT       = 'style01';

  # эти виджеты используютя на всех страницах
  PROCESS 'macro/base.tt2';
%]
