[% META
  description = 'Глобальные настройки'
%][%
  our_title         = l("PGWS");
  TMPL_LAYOUT       = 'style02';
  TMPL_UI_THEME     = 'external/ui/smoothness';
  BASE_LAYOUT       = 'style01';
  # IF session.sid
    # для тестов layout покажем авторизованным другой вариант
    # resp.layout = 'grey';
  # END
%]